* {
    margin: 0;
}
body {
    font-family: 'Roboto';
}
@font-face {
    font-family: 'Sans7';
    src: url(/fonts/basic_sans_serif_7.ttf);
    src: url(/fonts/basic_sans_serif_7.ttf), local('fonts/basic_sans_serif_7.ttf') format('truetype');
}
.main {
    display: grid;
     /* grid-template-rows: 25vh 25vh 25vh 25vh;*/
    grid-template-areas: "header"
                         "nav"
                         "Main"
                         "footer"
    ;
    
}
.container {
    display: block;
    width: 1200px;
    margin: 0 auto;
    fill: #fff;
}
.container svg {
    padding: 5px;
}
.box-contact {
    display: flex;
    align-items: center;
}
.header {
    background-color:#282828;
    height: 40px;
}
.header .container{
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.header .container ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav {
    background-color:#ffffff;
    height: 80px;
}
.content {
    width: 1200px;
    margin: 0 auto;
}
.footer {
    background-color: #efefef;
}
.top {
    background-color: #4ca368;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.top h1 {
    font-size: 48px;
    font-weight: 100px;
}
.texta {
    font-size: 16px;
}
.textb {
    color: white;
    font-size: 14px;
}
.center1 {
    background-color: #ececec;
}
.cont_ {
    text-align: center;
}
.cont_ h2 {
    font-size: 48px;
}
.cont_ svg {
    fill: #5db442;
}
.cont_ h3 {
    font-size: 26px;
}
.cont_ ol {
    display: inline-block;
    font-size: 16px;
    padding-left: 20px;
}
.ns {
    list-style: none;
    padding: 0;
}
.bloc1 {
    width: 630px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.icon {
    display: block;
}
.bloc1 h3 {
    font-size: 26px;
    color: #5db442;
    font-weight: 100;
    padding-bottom: 26px;
}
.s_link {
    display: flex;
    padding: 0;
    justify-content: space-around;
}
.s_link li {
    font-size: 12px;
}
.cont_link {
    width: 630px;
    margin: 0 auto;
}
.center2 {
    background-color: #ffffff;
    width: 1200px;
    text-align: center;
}
.pack ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
}
.pack li {
    height: 400px;
    width: 270px;
    background-color: beige;
}

.bottom {
    background-color: #ececec;
    padding: 100px 0 100px;
    text-align: center;
}
.bottom h2 {
    font-size: 48px;
}
.features-list{
    display: flex;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
.features-list li{
    background: #ffffff;
    flex: 0 1 24%;
    border: 1px solid #ececec;
}
.features-list li p {
    font-size: 12px;
}
.features-list li h3 {
    font-size: 16px;
}
.features-list svg {
    fill: #5db442;
}
.social {
    padding: 0;
}
.contact {
    display: flex; /*Poderia usar outro parametro aqui, teria algum problema ?*/
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.contact .tel {
    padding-right: 10px;

}
.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
}
.nav h2 {
    font-size: 54px;
}
.name {
    color: #636666;
    font-family:'Sans7';
    font-weight: 400;
}
.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 14px;
    padding-top: 30px;
}
.nav .menu li {
    margin-left: 45px
}
.bot_ {
    display: flex;
    justify-content: space-between;
}
.b_link {
    display: flex;
}
.bl ul {
    padding-top: 20px;
}
.bl {
    padding-right: 60px;
}
.bot_ h3 {
    font-size: 16px;
}
.bl li {
    font-size: 13px;
}
.n_l p {
    font-size: 12px;
    padding-top: 20px;
}
.b_row {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.b_row h2 {
    font-size: 20px;
}
.b_row p {
    font-size: 11px;
}
.btn-sign {
    text-decoration: none;
    color: #5db442;
    border: 1px solid  #5db442;
    border-radius: 45%;
}
/* Upando novamente no GITHUB */